{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cv_July_2015.css') }}">
{% endblock %}

{% block content %}
<div class="centerline">   
<span 
class="cmbx-12x-x-172">PEI</span>
<span 
class="cmbx-12x-x-172">MA</span>
</div>
<div  
class="centerline">   peima09@gmail.com</span>                             </div>
<div  
class="centerline">                        <span 
class="cmr-10x-x-109">  </span>Waltham, Boston, MA 02451</span>                        </div>

<!--l. 44--><p class="noindent" ><span 
class="cmbx-10x-x-109">QUALIFICATIONS SUMMARY</span>
_____________________________________________________________ <dl class="list1"><dt class="list">
    </dt><dd 
class="list">

     <!--l. 60--><p class="noindent" ><span 
class="cmbx-10x-x-109">Pharmaceutical Industry</span>
    <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 61--><p class="noindent" >Excellent knowledge and over three years hands on experiences in clinical data standards.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 62--><p class="noindent" >Currently working for a multinational pharmaceutical and biologics company (AstraZeneca).
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 63--><p class="noindent" >Three years of industry experiences in biopharma and pharmaceutical service companies.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 64--><p class="noindent" >Over six years of experiences in clinical data related statistical programming and data analytics.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 65--><p class="noindent" >Extensive training in CDSIC (SDTM and ADaM) data standards and clinical data flow.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 66--><p class="noindent" >Working practices of programming and validation, regulatory guidance (21 CFR  Part 11), and Good
     Clinical Practice (ICH E6). </dd></dl>
     <!--l. 75--><p class="noindent" ><span 
class="cmbx-10x-x-109">Personal Skills</span>
    <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 76--><p class="noindent" >Good attention to detail &amp; ability to work in a pressurised time sensitive environment.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 77--><p class="noindent" >Excellent organizational and interpersonal communication skills.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 78--><p class="noindent" >Strong time management and multiple complex tasks-handling skills.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 79--><p class="noindent" >Combine  patience,  determination,  and  persistence  to  solve  problems  using  various  skills  such  as
   analytical and critical thinking, logical and methodical approach, lateral thinking. </dd></dl>
   </dd></dl>
<!--l. 88--><p class="noindent" ><span 
class="cmbx-10x-x-109">EXPERIENCE</span>
________________________________________________________________________________ <dl class="list1"><dt class="list">
    </dt><dd 
class="list">
    <!--l. 88--><p class="noindent" >
    <!--l. 92--><p class="noindent" ><span 
class="cmbx-10x-x-109">AstraZeneca Pharmaceuticals LP, Boston                                      </span>July 2015 &#8212; Present
     <br 
class="newline" /> Role: Senior Specialist Programming (Quantitative Clinical Pharmacology Programmer), Quantitative
     Clinical Pharmacology
     <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 93--><p class="noindent" >Therapeutic Areas Supported: Oncology, Respiratory, Diabetes and Cardiovascular diseases.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 94--><p class="noindent" >Lead the application of computer science and information technology methods to provide the technical
     components that support all aspects of pharmacology clinical development process, including clinical
     development plans and scientific utilization data.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 95--><p class="noindent" >Provide strategic input and leadership to the delivery of all technical programming and information
     components of deliverables.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 96--><p class="noindent" >Plan and program the integration of clinical data databases from multiple studies or sources/vendors.
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 97--><p class="noindent" >Lead NONMEM dataset programming support for complex trial designs such as adaptive trial designs
     for important internal decision making (Go/No Go criteria).
     </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
  <!--l. 98--><p class="noindent" >Lead programming support to pharmacometric modeling and simulation for deliverables to regulatory
     submissions.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 99--><p class="noindent" >Oversee the quality of all deliverables, holding partners and providers accountable for the quality of
   their deliverable.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 101--><p class="noindent" >Act as a major contributor to develop an R package to simplify and automate the workflow of creating
   standard structured datasets for pharmacometric/disease modeling and simulation.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 102--><p class="noindent" >Identify opportunities to improve the methodology and provide practical solutions for problems.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 103--><p class="noindent" >Contribute to the development of best practice to improve quality, efficiency and effectiveness.
   </dd></dl>
   <!--l. 107--><p class="noindent" >
   <!--l. 109--><p class="noindent" ><span 
class="cmbx-10x-x-109">PAREXEL International, Boston                                            </span>August 2014 &#8212; July 2015
   <br 
class="newline" /> Role: Statistical Programmer
   <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 110--><p class="noindent" >Perform efficient programming practice to produce and/or QC CDISC or Sponsor-specific datasets and
   offline listings for multiple studies.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 111--><p class="noindent" >Successfully provided statistical programming support as a lead programmer to two phase 3 studies.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 112--><p class="noindent" >Provided unblinded safety reports to support the Data and Safety Monitoring Board (DSMB/DMC)
   committee meetings.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 113--><p class="noindent" >Responsible for import/export programming specification development, test data creation and test data
   entry, import/export programming functional testing, as well as mapping specifications to support
   relevant data standards.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 114--><p class="noindent" >Developed statistical programs with various functionality such as SAS listings, SAS summary tables,
   data mapping according to sponsor standard or CDISC standards (SDTM/AdAM), data transfering.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 115--><p class="noindent" >Developed excellent knowledge in clincial trial data standards and workflow working with different
   clients and various therapeutic area data such oncology, vaccine and neurology.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 116--><p class="noindent" >Developed wider knowledge of SAS and other relevant programming languages and processes within
   the Biostatistics, and Medical arenas.
   </dd></dl>
   <!--l. 123--><p class="noindent" ><span 
class="cmbx-10x-x-109">DUCK FLATS Pharma, LLC, New York                           </span>November 2013 &#8212; August 2014
   <br 
class="newline" /> Role: Statistician/SAS programmer
   <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 124--><p class="noindent" >Working with Data management and other function groups for data checking and problem solving.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 125--><p class="noindent" >Providing programming support on Phase I and II studies.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 126--><p class="noindent" >QC SDTM datasets by following CDISC SDTM Implementation Guideline and review Data Spec.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 127--><p class="noindent" >Creating Tables, Listings, and Figures output per Statistical Analysis Plan (SAP).
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 128--><p class="noindent" >Performing parallel programming QC for Tables and Listings.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 129--><p class="noindent" >Assisting study design, Population PK/PD modeling and particular QT (ECG) data analysis.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 130--><p class="noindent" >Calculating sample size, managing database, comparing end-points for pre-clinical trials studies.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 131--><p class="noindent" >Reviewed various sections of CTD for clients.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 132--><p class="noindent" >Developing utility Macros to improve programming efficiency and consistency.
   </dd></dl>
   <!--l. 138--><p class="noindent" ><span 
class="cmbx-10x-x-109">Syracuse University, New York                                             </span>January 2010 &#8212; May 2013
   <br 
class="newline" /> Role: Research Analyst
   <dl class="list2"><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 139--><p class="noindent" >Design of experiment and developed Statistical Analysis Plan for products characterization and data
   analysis.
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 140--><p class="noindent" >Performed statistical modeling using SAS 9.2 and R 2.13.0
   </dd><dt class="list">
  <span 
class="cmsy-10x-x-109">&#x22C5;</span> </dt><dd 
class="list">
   <!--l. 141--><p class="noindent" >Prepared statistical analysis reports using SAS and documentation for publication submission. </dd></dl>
   </dd></dl>
<!--l. 175--><p class="noindent" ><span 
class="cmbx-10x-x-109">EDUCATION</span>
_________________________________________________________________________________ <dl class="list1"><dt class="list">
    </dt><dd 
class="list">
    <!--l. 175--><p class="noindent" >
    <!--l. 179--><p class="noindent" ><span 
class="cmbx-10x-x-109">Doctor of Philosophy in Chemistry                                                        </span>August 2013
     <br 
class="newline" /> Syracuse University, Syracuse NY
   <!--l. 182--><p class="noindent" ><span 
class="cmbx-10x-x-109">Master of Science in Applied Statistics                                                      </span>May 2013
   <br 
class="newline" /> Syracuse University, Syracuse NY
   <!--l. 185--><p class="noindent" ><span 
class="cmbx-10x-x-109">Bachelor of Science in Pharmaceutical Science                                             </span>July 2007
   <br 
class="newline" /> Tianjin University, Tianjin China
   <!--l. 189--><p class="noindent" >
   </dd></dl>
<!--l. 203--><p class="noindent" ><span 
class="cmbx-10x-x-109">CERTIFICATE</span>
________________________________________________________________________________ <dl class="list1"><dt class="list">
    </dt><dd 
class="list">
    <!--l. 203--><p class="noindent" >
    <!--l. 210--><p class="noindent" ><span 
class="cmbx-10x-x-109">SAS Certified Advanced Programmer for SAS 9                                          </span>May 2014
     <br 
class="newline" /> SAS Global Certification program, SAS Institute, Cary, NC
     <!--l. 213--><p class="noindent" ><span 
class="cmbx-10x-x-109">SAS Certified Base Programmer for SAS 9                                               </span>March 2014
     <br 
class="newline" /> SAS Global Certification program, SAS Institute, Cary, NC
     </dd></dl>
<!--l. 224--><p class="noindent" ><span 
class="cmbx-10x-x-109">TECHNICAL STRENGTHS</span>__________________________________________________________________________________
    <dl class="list1"><dt class="list">
    </dt><dd 
class="list">
    <!--l. 224--><p class="noindent" >
    <div class="tabular"> <table id="TBL-1" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-1-1g"><col 
id="TBL-1-1"><col 
id="TBL-1-2"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-1-1-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-1-1"  
class="td11">      Data Analysis:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-1-2"  
class="td11"> Data handling, Exploratory Data Analysis, model building and fitting,         </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-2-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-2-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-2-2"  
class="td11"> results interpretation                                                                          </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-3-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-3-1"  
class="td11">      Statistical Skills  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-3-2"  
class="td11"> Sampling methods, data management, statistical modelling, simulation         </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-4-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-4-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-4-2"  
class="td11"> univariate, bivariate, multivariate regression methods and logistic regression  </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-5-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-5-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-5-2"  
class="td11"> experiment design and ANOVA, MANOVA, discrimination analysis             </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-6-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-6-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-6-2"  
class="td11"> classification, factor analysis, principal components analysis, cluster analysis  </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-7-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-7-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-7-2"  
class="td11"> time series, forecasting                                                                        </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-8-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-8-1"  
class="td11"> Computer Languages:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-8-2"  
class="td11"> Python, SQL and HTML.                                                                    </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-9-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-9-1"  
class="td11">   Operating Systems:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-9-2"  
class="td11"> Windows (XP and 7) and Linux (Ubuntu 14.04).                                     </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-10-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-10-1"  
class="td11">   Statistical Software:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-10-2"  
class="td11"> SAS (9.1, 9.2, 9.3, 9.4) and R.                                                              </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-11-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-11-1"  
class="td11">          SAS Tools:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-11-2"  
class="td11"> SAS V9.3/BASE SAS, SAS/MACROS, SAS/GRAPH, SAS/REPORTS        </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-12-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-12-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-12-2"  
class="td11"> SAS/STAT, SAS/SQL, SAS/ODS                                                         </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-13-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-13-1"  
class="td11">          SAS Procs:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-13-2"  
class="td11"> Print, Means, Univariate, Correlation, Regression, SQL, Report, Freq, Sort,  </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-14-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-14-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-14-2"  
class="td11"> Summary, Format, Import, Export, Transpose, Compare, Anova, Append,    </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-15-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-15-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-15-2"  
class="td11"> Gplot and Gchart.                                                                              </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-16-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-16-1"  
class="td11">    Visualization Tool:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-16-2"  
class="td11"> SAS/GRAPH, Google Charts and Adobe Photoshop.                                </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-17-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-17-1"  
class="td11">             Others:  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-17-2"  
class="td11"> Microsoft Office (Word, Excel, PowerPoint, and Outlook), LaTeX                </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-18-"><td  style="white-space:nowrap; text-align:right;" id="TBL-1-18-1"  
class="td11">                    </td><td  style="white-space:nowrap; text-align:left;" id="TBL-1-18-2"  
class="td11"> Python.                                                                                           </td>
</tr></table></div> </dd></dl>
<!--l. 259--><p class="noindent" ><span 
class="cmbx-10x-x-109">HONORS AND AWARDS</span>_____________________________________________________________________________________
    <dl class="list1"><dt class="list">
    </dt><dd 
class="list">
    <!--l. 259--><p class="noindent" >
    <div class="tabular"> <table id="TBL-2" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-2-1g"><col 
id="TBL-2-1"><col 
id="TBL-2-2"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-2-1-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-1-1"  
class="td11"> Student Award, Boron In The Americas (BORAM) XIII conference, West Lafayette, IN  </td><td  style="white-space:nowrap; text-align:left;" id="TBL-2-1-2"  
class="td11"> <span 
class="cmcsc-10x-x-109">J<span 
class="small-caps">u</span><span 
class="small-caps">n</span><span 
class="small-caps">e</span> </span>2012  </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-2-2-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-2-1"  
class="td11"> Student Travel Grant, Department of Chemistry, Syracuse University, Syracuse, NY        </td><td  style="white-space:nowrap; text-align:left;" id="TBL-2-2-2"  
class="td11"> <span 
class="cmcsc-10x-x-109">J<span 
class="small-caps">u</span><span 
class="small-caps">l</span><span 
class="small-caps">y</span> </span>2011  </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-2-3-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-3-1"  
class="td11">                                                                            </td></tr></table> </div>
   </dd></dl>
 


{% endblock %}
