{% extends "base.html" %}
{% block content %}

<div id="header">
<h1 class="title">Useful Links</h1>
</div>

<p>
<P><font size=+1><b><i> <a href="https://github.com/TiO2" target = "_blank">Pei Ma Github Page </a> </i></b><font><BR>   

<P><font size=+1><b><i> <a href="http://tjuboston.org/" target = "_blank"> TJUAA Boston Website </a> </i></b><font><BR>   

<P><font size=+1><b><i> <a href="http://bpnboston.com/" target = "_blank"> Boston Professional Network Website </a> </i></b><font><BR>   

</p>




{% endblock %}
