{% extends "base.html" %}
{% block content %}

<P>
    
<P><font size=+1><b><i> <a href="https://scholar.google.com/citations?user=wheg3PQAAAAJ&hl=en" target = "_blank">Pei Ma Google Scholar </a> </i></b><font><BR>    
    
   
<P><font size=+1><b><i> Pei Ma Publications (Peer reviews journals):</i></b><font><BR>

<ol>

<li>
P Ma and J. T. Spencer, 2018. Inorganic Chemistry Communications. Volume 89, Pages 78–82
<br>
<em>Photochemistry of metallaborane: a novel method for functionalized carborane synthesis.  </em>
<br>(<A HREF="https://doi.org/10.1016/j.inoche.2018.01.009" target="_blank"> doi:S1387700317309474 </a>)
</li>


<li>
P Ma, R Littger, TMS Pellizzeri, J. Zubieta and J. T. Spencer, 2016. Polyhedron, Elsevier. 109, 18 April 2016, Pages 129–137. 
<br>
<em>Thermal Versus Photochemical Pathways of a Manganese 10-Vertex Metalladecaborane: [nido-6-Mn(CO)3B9H13][NMe4] </em>
<br>(<A HREF="http://www.sciencedirect.com/science/article/pii/S0277538716000991" target="_blank"> doi:10.1016/j.poly.2016.02.014 </a>)



<li>
P Ma, and J. T. Spencer, 2015. Journal of Material Science, 50, pp. 313-323.
<br>
<em>Non-covalent Stabilization and Functionalization of Boron Nitride Nanosheets (BNNSs) by Organic Polymers: Formation of Complex BNNSs-containing Structures.</em>
<br>(<A HREF="http://link.springer.com/article/10.1007/s10853-014-8590-8" target="_blank">doi: 10.1007/s10853-014-8590-8 </a>)



<li>
P Ma, T. M. Smith, J. Zubieta and J. T. Spencer, 2014. Inorganic Chemistry Communications, 46, pp. 223-225 
<br>
<em>Synthesis of Alkoxy Derivatives of the 10-Vertex Manganadecaborane [nido-6-Mn(CO)3B9H13][NMe4].</em>
<br>(<A HREF="http://www.sciencedirect.com/science/article/pii/S1387700314002184" target="_blank">S1387700314002184 </a>)



</ol>

<P><HR><address>Updated Feb 2018</address>


{% endblock %}
