{% extends "base.html" %}
{% block content %}

<P>
    
<P><font size=+1><b><i> <a href="https://scholar.google.com/citations?user=wheg3PQAAAAJ&hl=en" target = "_blank">Pei Ma Google Scholar </a> </i></b><font><BR>    
    
    <br/>
    
<P><font size=+1><b><i> Publications (Peer reviewed journals):</i></b><font><BR>

<ol>     
    
    <li>
    Coren A. Milbury,James Creeden,Wai-Ki Yip,David L. Smith,Varun Pattani,Kristi Maxwell,Bethany Sawchyn,Ole Gjoerup,Wei Meng,Joel Skoletsky,Alvin D. Concepcion,Yanhua Tang,Xiaobo Bai,Ninad Dewal,Pei Ma,Shannon T. Bailey,James Thornton,Dean C. Pavlick,Garrett M. Frampton,Daniel Lieber,Jared White,Christine Burns,Christine Vietz. (2022)  PLoS ONE 17(3): e0264138. 
    <em>Clinical and analytical validation of FoundationOne®CDx, a comprehensive genomic profiling assay for solid tumors.</em> <br>(<A HREF="https://doi.org/10.1371/journal.pone.0264138" target="_blank"> Link </a>) 
    </li>
    
    <li>
    Ryan Woodhouse, Meijuan Li,Jason Hughes,David Delfosse,Joel Skoletsky,Pei Ma,Wei Meng,Ninad Dewal,Coren Milbury,Travis Clark,Amy Donahue,Dan Stover,Mark Kennedy,Jennifer Dacpano-Komansky,Christine Burns,Christine Vietz,Brian Alexander,Priti Hegde,Lucas Dennis. (2020)  PLoS ONE 15(9): e0237802. 
    <br>
    <em> Clinical and analytical validation of FoundationOne Liquid CDx, a novel 324-Gene cfDNA-based comprehensive genomic profiling assay for cancers of solid tumor origin.   </em>
    <br>(<A HREF="https://doi.org/10.1371/journal.pone.0237802" target="_blank"> Link </a>) 
    </li>     

    <li>
    Ryan Woodhouse, Lucas Dennis, Meijuan Li, Christine Burns, Pei Ma, Wei Meng, Ninad Dewal, Christine Vietz, Priti Hegde.  Journal of Clinical Oncology (2020). Volume 38, Issue 15_suppl. https://ascopubs.org/doi/abs/10.1200/JCO.2020.38.15_suppl.e13685
    <br>
    <em> Clinical and analytical validation of FoundationOne Liquid CDx, a novel 324-gene blood-based comprehensive genomic profiling assay.   </em>
    <br>(<A HREF="https://ascopubs.org/doi/abs/10.1200/JCO.2020.38.15_suppl.e13685" target="_blank"> Link </a>) 
    </li> 
    
    <li>
    DA Fabrizio, C Milbury, WK Yip, L Ramamurthy, X Bai, V Pattani, P Maness, A Cowen, K Fedorchak, P Ma, GM Frampton, C Connelly, Y Li. Annals of Oncology (2018) 29 (suppl_8): viii14-viii57. 10.1093/annonc/mdy269
    <br>
    <em> Analytic validation of tumor mutational burden as a companion diagnostic for combination immunotherapy in non-small cell lung cancer.   </em>
    <br>(<A HREF="https://oncologypro.esmo.org/Meeting-Resources/ESMO-2018-Congress/Analytic-Validation-of-Tumor-Mutational-Burden-as-a-Companion-Diagnostic-for-Combination-Immunotherapy-in-Non-Small-Cell-Lung-Cancer" target="_blank"> Link </a>) 
    </li>    

    
    <li>
    James X. Sun, Kevin Lin, Yali Li, Kyle Gowen, Yuting He, Coren Milbury, Christine Burns, Jun Luo, Steve Roels, Murtaza Mehdi, John Truesdell, Pei Ma, Lakshman Ramamurthy, Christine Vietz, Jeri Beltman, Thomas Harding, Doron Lipson, Jeffrey Ross, Vincent Miller, Philip Stephens, Michael Doherty, Julia Elvin.  In: Proceedings of the American Association for Cancer Research Annual Meeting 2018; 2018 Apr 14-18; Chicago, IL. Philadelphia (PA): AACR; Cancer Res 2018;78(13 Suppl):Abstract nr 4544.
    <br>
    <em> A validated diagnostic assay for identifying ovarian cancer patients with deleterious BRCA mutations and high genomic loss of heterozygosity (LOH) [abstract].   </em>
    <br>(<A HREF="http://cancerres.aacrjournals.org/content/78/13_Supplement/4544.short" target="_blank"> Link </a>) 
    </li>      
    
    
    <li>
    Wai-ki Yip, Joel Skoletsky, Pei Ma, Jun Luo, Coren Milbury, Christine Burns, John Truesdell, Julia Elvin, Geoff Otto, Doron Lipson, Jeffrey Ross, Vincent Miller, Philip Stephens, Michael Doherty, Christine Vietz, James X. Sun, Yali Li. In: Proceedings of the American Association for Cancer Research Annual Meeting 2018; 2018 Apr 14-18; Chicago, IL. Philadelphia (PA): AACR; Cancer Res 2018;78(13 Suppl):Abstract nr 1607.
    <br>
    <em> An ERBB2 follow-on companion diagnostic for clinical care of patients with breast cancer [abstract].   </em>
    <br>(<A HREF="http://cancerres.aacrjournals.org/content/78/13_Supplement/1607.short" target="_blank"> Link  </a>) 
    </li>        
    
    <li>
    James X Sun, Yali Li, Coren Milbury, Joel Skoletsky, Christine Burns, Wai-ki Yip, Jun Luo, Ninad Dewal, Adrienne Johnson, Kyle Gowen, Jing Tong, Yuting He, Jie He, Pei Ma, Jared White, Steve Roels, John Truesdell, Eric Peters, Houston Gilbert, Charlie Wu, Erica Schleifman, Johannes Noe, Carl Barrett, Kenneth Thress, Suzanne Jenkins, Julia Elvin, Geoff Otto, Doron Lipson, Jeffrey Ross, Vincent Miller, Philip Stephens, Michael Doherty, Christine Vietz, 2018. Proceedings of the American Association for Cancer Research Annual Meeting 2018; 2018 Apr 14-18; Chicago, IL. Philadelphia (PA): AACR; Cancer Res 2018;78(13 Suppl):Abstract nr 4757.
    <br>
    <em> A clinically validated comprehensive companion diagnostic platform for care of patients with advanced cancer [abstract].  </em>
    <br>(<A HREF="http://cancerres.aacrjournals.org/content/78/13_Supplement/4757.short" target="_blank"> Link  </a>) 
    </li>    
       
        
    <li>
    Pei Ma, Tiffany M. Smith Pellizzeri, Jon Zubieta, James T. Spencer, Journal of Chemical Crystallography(2018). 
    <br>
    <em> Synthesis and Characterization of Oxonium Functionalized Rhenium Metallaborane.  </em>
    <br>(<A HREF="https://doi.org/10.1007/s10870-018-0749-8" target="_blank"> doi: 10.1016/j.ica.2018.05.041 </a>) 
    </li>         
       
    
    <li>
    Pei Ma, and James T. Spencer, 2018. Inorganica Chimica Acta. Volume 482, Pages 67–69.
    <br>
    <em> Catalytic activity of a large rhodium metallaborane towards the [2+2+2] cycloaddition of alkynes.  </em>
    <br>(<A HREF="https://doi.org/10.1016/j.ica.2018.05.041" target="_blank"> doi: 10.1016/j.ica.2018.05.041 </a>) 
    </li>            
        
    <li>
    Pei Ma, and James T. Spencer, 2018. Polyhedron. Volume 149, Pages 148–152. 
    <br>
    <em> Cyclodimerization of isocyanates promoted by one large vertex metallaborane.  </em>
    <br>(<A HREF="https://doi.org/10.1016/j.poly.2018.04.028" target="_blank"> doi: 10.1016/j.poly.2018.04.028 </a>) 
    </li>            
        
    <li>
    Pei Ma, Ralf Littger and James T. Spencer, 2018. Inorganica Chimica Acta. Volume 477, Pages 242-247. 
    <br>
    <em> Thermal and photochemical pathways of a 10-vertex Rhodium metallaborane.  </em>
    <br>(<A HREF="https://doi.org/10.1016/j.ica.2018.03.009" target="_blank"> doi: 10.1016/j.ica.2018.03.009 </a>) 
    </li>    
        
    <li>
    P Ma and J. T. Spencer, 2018. Inorganic Chemistry Communications. Volume 89, Pages 78–82
    <br>
    <em>Photochemistry of metallaborane: a novel method for functionalized carborane synthesis.  </em>
    <br>(<A HREF="https://doi.org/10.1016/j.inoche.2018.01.009" target="_blank"> doi: 10.1016/j.inoche.2018.01.009 </a>)
    </li>

    <li>
    P Ma, R Littger, TMS Pellizzeri, J. Zubieta and J. T. Spencer, 2016. Polyhedron, Elsevier. 109, 18 April 2016, Pages 129–137. 
    <br>
    <em>Thermal Versus Photochemical Pathways of a Manganese 10-Vertex Metalladecaborane: [nido-6-Mn(CO)3B9H13][NMe4] </em>
    <br>(<A HREF="http://www.sciencedirect.com/science/article/pii/S0277538716000991" target="_blank"> doi:10.1016/j.poly.2016.02.014 </a>)
        </li>

    <li>
    P Ma, and J. T. Spencer, 2015. Journal of Material Science, 50, Pages 313-323.
    <br>
    <em>Non-covalent Stabilization and Functionalization of Boron Nitride Nanosheets (BNNSs) by Organic Polymers: Formation of Complex BNNSs-containing Structures.</em>
    <br>(<A HREF="http://link.springer.com/article/10.1007/s10853-014-8590-8" target="_blank">doi: 10.1007/s10853-014-8590-8 </a>)
        </li>

    <li>
    P Ma, T. M. Smith, J. Zubieta and J. T. Spencer, 2014. Inorganic Chemistry Communications, 46, Pages 223-225 
    <br>
    <em>Synthesis of Alkoxy Derivatives of the 10-Vertex Manganadecaborane [nido-6-Mn(CO)3B9H13][NMe4].</em>
    <br>(<A HREF="http://www.sciencedirect.com/science/article/pii/S1387700314002184" target="_blank">doi: 10.1016/j.inoche.2014.04.038 </a>)
    </li>
</ol>
    
<P><font size=+1><b><i> PhD Dissertation:</i></b><font><BR>

<ol>     
    
    <li>  
        
        Pei Ma. 2013. 
    <br>
    <em>Thermal and photochemical reactions of large metallaborane
clusters and functionalizations of boron nitride nanosheets.</em>
    <br>(<A HREF="https://surface.syr.edu/etd/42/" target="_blank">https://surface.syr.edu/etd/42 </a>)        
    </li>
    
</ol>
    


<P><HR><address>Updated Mar 2022 </address>

{% endblock %}
